{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1 class="my-4">{{image.title}} by {{image.flickr_user}}</h1>

  <img
    src="/static/images/{{image.id}}.jpg"
    class="img-fluid rounded mb-4"
    alt="{{image.id}}"
  />
  <p>
    {{current_image_pillow_info.mode}} in {{current_image_pillow_info.format}}
    format with width {{current_image_pillow_info.width}} and height
    {{current_image_pillow_info.height}}.
  </p>
  <a href="{{ url_for('index') }}" class="font-weight-bold d-block">
    Back to list of images
  </a>
</div>

{% endblock %}
