{% extends "base.html" %} 

{% block content %}
    <div class="container">
        <h1 class="my-4">CST 205 Random Picture Gallery</h1>

        <ul class="list-unstyled">
        {% for image in random_images %}
            <li class="mb-4">
            <a href="{{ url_for('image_page', image_id=image.id) }}"
            class="d-block mb-1 font-weight-bold">{{ image.title }}</a>
                <a href="{{ url_for('image_page', image_id=image.id) }}">
                    <img
                    src="/static/images/{{image.id}}.jpg"
                    width="250"
                    class="img-fluid rounded"
                    alt="{{image.id}}"
                    />
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
